# Ignore Terraform-related files
**/.terraform/*
**/.terraform.lock.hcl

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore .DS_Store files
**/.DS_Store

# Ignore metadata file
/metadata

# Ignore plan and output files
/plan.json
/plan.output

# Ignore application logs
/app.log

# Ignore JSON settings file
.vscode/settings.json