.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
metadata
plan.json
plan.out
.vscode/settings.json
app.log
app1.log
.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
.DS_Store
.terraform/providers/registry.terraform.io/hashicorp/aws/3.76.1/darwin_amd64/terraform-provider-aws_v3.76.1_x5
jonnie-rds.session.sql
notes-to-self.md
.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/darwin_amd64/terraform-provider-template_v2.2.0_x4
terraform.tfstate.1711479592.backup
.terraform.tfstate.lock.info
